MOODLE_APP_IMAGE=ghcr.io/ediprin/moodle-nurulhasanah:staging

MOODLE_WWWROOT=https://staging-elearning.nurulhasanah.ac.id
MOODLE_DATABASE_TYPE=mysqli
MOODLE_DATABASE_NAME=moodle
MOODLE_DATABASE_USER=moodle
MOODLE_DATABASE_PASSWORD=change-me
MOODLE_DB_ROOT_PASSWORD=change-me

MOODLE_DBPREFIX=mdl_
MOODLE_LANG=id
MOODLE_REVERSE_PROXY=false
MOODLE_SSL_PROXY=true
MOODLE_SITE_FULLNAME=E-Learning Nurul Hasanah Staging
MOODLE_SITE_SHORTNAME=E-Learning Staging

# First install only. Set back to false after initial install finishes.
MOODLE_AUTO_INSTALL=false
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=change-me
MOODLE_ADMIN_EMAIL=admin@example.test

MOODLE_CRON_INTERVAL_SECONDS=60
